:root { 
--gray_600:#767676; 
--green_300:#63d683; 
--blue_gray_50:#eaf0f7; 
--gray_900:#2e2e22; 
--red_700_a2:#ec1825a2; 
--blue_gray_900_7f:#2e2e2e7f; 
--red_400:#f14751; 
--gray_300:#e2e2e2; 
--gray_50:#fcfcfc; 
--light_blue_900:#004c8c; 
--light_blue_800:#0277bd; 
--gray_100:#f4f4f4; 
--light_blue_900_a2:#004c8ca2; 
--blue_300:#58a5f0; 
--blue_gray_900_01:#323232; 
--blue_gray_900:#2e2e2e; 
--white_A700:#ffffff; 
--light_blue_800_a2:#0277bda2; 
}